{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'navbar.html' %}
<div class="min-h-screen flex flex-col items-center justify-start py-10 bg-yellow-50">
    
    <!-- Search Bar -->
    <div class="search-bar mt-24 mb-6 w-full flex justify-center">
        <form method="POST" class="w-3/4 md:w-2/3 lg:w-1/2 flex">
            {% csrf_token %}
            <input type="text" name="keyword" placeholder="Cari makanan..." class="flex-grow py-2 px-4 rounded-l-lg border border-gray-300">
            <button type="submit" class="bg-yellow-600 text-white py-2 px-4 rounded-r-lg hover:bg-yellow-700">Cari</button>
        </form>
    </div>

    <!-- Filter Section -->
    <form method="POST" class="w-full md:w-3/4 flex justify-center space-x-4 my-6">
        {% csrf_token %}
        <div class="flex items-center space-x-2">
            <label for="kategori" class="text-gray-700">Kategori:</label>
            <select id="kategori" name="kategori" class="border border-gray-300 py-2 px-4 rounded">
                <option value="">Semua Kategori</option>
                <option value="ayam betutu">Ayam Betutu</option>
                <option value="sate">Sate</option>
                <option value="es">Es</option>
                <option value="ayam">Ayam</option>
                <option value="pepes">Pepes</option>
                <option value="nasi">Nasi</option>
                <option value="sayur">Sayur</option>
                <option value="jajanan">Jajanan</option>
                <option value="sambal">Sambal</option>
                <option value="tipat">Tipat</option>
                <option value="rujak">Rujak</option>
                <option value="bebek">Bebek</option>
                <option value="ikan">Ikan</option>
                <option value="kopi">Kopi</option>
                <option value="lawar">Lawar</option>
                <option value="babi guling">Babi Guling</option>
            </select>
        </div>
        <div class="flex items-center space-x-2">
            <label for="harga" class="text-gray-700">Harga:</label>
            <select id="harga" name="harga" class="border border-gray-300 py-2 px-4 rounded">
                <option value="">Semua Harga</option>
                <option value="low">Di bawah Rp50.000</option>
                <option value="medium">Rp50.000 - Rp100.000</option>
                <option value="high">Di atas Rp100.000</option>
            </select>
        </div>
        <button type="submit" class="bg-yellow-600 text-white py-2 px-3 rounded hover:bg-yellow-700">Terapkan Filter</button>
    </form>

    <!-- Include Cards Section -->
    {% include 'card_foods.html' %}

</div>

{% endblock %}
